body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 1em;
}

nav a {
  text-decoration: none;
  color: #fff;
}

.container {
  padding-top: 2%;
  text-align: center;
}
.titulo {
  border: 1px solid #ddd;
  padding: 1em;
  margin: 1em;
  text-align: center;
}
.descripcion {
  margin-top: 2%;
}
